.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:8px;
    border:none;
    width:16px;
    height:16px;
}

.contentpac1 {
				
				width: 450px;
				height:250px;
				background-image:url(../images/FONDOS/OPC33.png);
				float: left;
				border: 1px outset #0ac1e2;
				border-radius:5%;
				background-repeat:no-repeat;
			}

#imagenPerfil{
	width:30%;
	height:auto;
	float: left;	
	border-radius: 40%;
	margin-left:10px;
	margin-top:10%;
}

.text-center {
				text-align: center;
				font-face:"arial";
				font-style: italic;
				font-weight: bold;
				margin-top:50px;
			}
.text-center-h4{
				margin-left:165px;
				text-align: left;
				font-face:"arial";
}

.text-left-h4{
				margin-left:15px;
				text-align: left;
				font-face:"arial";
}						

.contentpac2 {
				margin: -250px 20px 20px 900px;
				width: 430px;
				background-color: #ffffff;
				float: left;
				border: 1px outset gray;
			}
			


/* REGULAR */
.buttons li{
	list-style-type:none;
}
.button a, .buttons a{
	width:245px;
	height:40px;
	color:#000000;
	font-size:1.25em;
	border-radius:0.3em;
	text-decoration:none;
	display: block;
}

.buttons a.datos{
	background-image:url(../images/boy31.png);
}

.buttons a.historia{
	background-image:url(../images/historia.png);
}

.buttons a.vacunas{
	background-image:url(../images/vacunas.png);
}

.buttons a.citas{
	background-image:url(../images/citas.png);
}

.buttons a.medicamentos{
	background-image:url(../images/medicamentos.png);
}

.buttons a.desarrollo{
	background-image:url(../images/desarrollo.png);
}

.buttons a.datos, .buttons a.historia, .buttons a.vacunas, .buttons a.citas, .buttons a.medicamentos, .buttons a.desarrollo{
	background-position:0.7em center;
	background-repeat:no-repeat;
	text-indent: 30px;
	text-decoration:none;
}

.buttons a.datos:hover, .buttons a.historia:hover, .buttons a.vacunas:hover, .buttons a.citas:hover, .buttons a.medicamentos:hover, .buttons a.desarrollo:hover{
    background-color:#cecece;
    border:1px solid #ffffff;
    color:#000000;
}
.buttons a.datos:active, .buttons a.historia:active,.buttons a.vacunas:active, .buttons a.citas:active, .buttons a.medicamentos:active, .buttons a.desarrollo:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

.graficas {
	margin-left:200px;
}

.graficas label{
	margin-top:100px;
	margin-left:500px;
}

#charts{
	margin-top:120px;
	margin-bottom: 150px;
}

.tablaGr{
	margin-top:-300px;
	margin-left:300px;
	width:1000px;
}
